# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/
.vite/

# Env
.env
.env.local

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads
backend/uploads/
backend/celerybeat-schedule
